
<div class="h-[100%] cursor-pointer">
  <div class="flex flex-col pixel">
    <div class="rounded-t-2xl text-center bg-boon py-2">Boon</div>
    <div class="bg-green-50 px-4 py-8 border-b-2 border-dashed border-amber-900">
      <p class="text-black">Projectile Count: <span class="text-green-600">+1</span></p>
    </div>
    <div class="bg-red-50">
      <p class="text-black px-4 py-8">Projectile Deviation: <span class="text-red-800">-5%</span></p>
    </div>
    <div class="rounded-b-2xl text-center bg-bane py-2">Bane</div>
  </div>
</div>
