
<div class="cursor-pointer h-full rounded-2xl border-2 border-amber-50 overflow-hidden hover:border-amber-300 hover:border-8 hover:scale-110 transition-all">
  <div class="flex flex-col pixel h-full">
    <div class="text-center bg-boon py-2">Boon</div>
    <div class="basis-1/2 bg-green-50 text-black px-4 py-2 border-b-2 border-dashed border-amber-900">
      <ng-content select="[slot=boons]"></ng-content>
    </div>
    <div class="basis-1/2 bg-red-50 text-black p-4">
      <ng-content select="[slot=banes]"></ng-content>
    </div>
    <div class="text-center bg-bane py-2">Bane</div>
  </div>
</div>
