<!-- HUD -->
<div class="fixed px-5 py-8">
  <p class="text-white text-5xl pixel">{{ this.scoreDisplay() }}</p>
  <div class="flex">
    @for (item of this.livesArray(); track $index) {
      <span class="life-icon"></span>
    }
  </div>
</div>

<div class="fixed flex flex-col w-full justify-center p-5">
  <p class="text-white text-3xl pixel text-center">{{ this.hiScoreDisplay() }}</p>
</div>

<div class="fixed flex flex-col w-full h-full justify-center items-center text-white pixel text-center bg-slate-950/50" *ngIf="this.gameStateService.paused">
  <h2 class="text-5xl mb-4">Paused</h2>
  <a class="text-4xl cursor-pointer" (click)="this.handleQuitClick()" role="button">| Quit |</a>
</div>
