<div class="fixed w-full h-full flex pixel text-white justify-center">
  <div class="w-[60vw] h-full flex flex-col justify-center items-center">
    <h1 class="text-5xl mb-6">Level up!</h1>

    <div class="container flex justify-between">

      @for( item of this.cards; track $index )
      {
        <app-factor-card class="basis-1/3 mx-4" (click)="handleCardClick( $index )">
          <div slot="boons">
            <p class="text-center border-b-green-600 border-b-2">{{ item[0].name }}</p>
            <div class="my-2">
              @for( boon of item[0].modifiers; track boon.description )
              {
                <p>{{ boon.description }}: <span class="text-green-600" [innerHTML]="( boon.prefix || '' ) + ( boon.value || '' ) + ( boon.sufix || '' )"></span></p>
              }
            </div>
          </div>
          <div slot="banes">
            <p class="text-center border-b-red-600 border-b-2">{{ item[1].name }}</p>
            <div class="my-2">
              @for( bane of item[1].modifiers; track bane.description )
              {
                <p>{{ bane.description }}: <span class="text-red-600" [innerHTML]="( bane.value > 0 ? '+' : '' ) + ( bane.value || '' ) + ( bane.sufix || '' )"></span></p>
              }
            </div>
          </div>
        </app-factor-card>
      }
    </div>
  </div>
</div>
