@import "tailwindcss";

@property --angle{
  syntax: '<angle>'; /* its type */
  inherits: false;
  initial-value: -45deg; /* the initial value */
}

.factor-bg
{
  background-size: 200% 200%;
  animation: gradient 15s ease-in-out infinite;
  animation-direction: alternate;
}

.boon
{
  background: linear-gradient( var(--angle), theme("colors.green.600"), theme("colors.lime.700"), theme("colors.emerald.800") );
}

.bane
{
  background: linear-gradient( var(--angle), theme("colors.red.600"), theme("colors.pink.900"), theme("colors.rose.800") );
}
