<div class="w-full h-full flex justify-center items-center pixel">
  <div class="flex flex-col items-center select-none">
    <div class="relative mb-6">
      <h1 class="text-white text-[8rem] leading-none">Hello Asteroids</h1>
      <p class="absolute text-white text-2xl bottom-[0rem] right-[-6rem] rotate-[-34deg]">in Angular</p>
    </div>

    <a class="text-white hover:text-gray-300 text-4xl" (click)="handlePlayClicked( 'play' )" *ngIf="!showOptions">
      <span>|</span>
      <span class="mx-6">Coin</span>
      <span>|</span>
      <span class="mx-6">Play</span>
      <span>|</span>
    </a>
    <div class="text-white text-center" *ngIf="showOptions">
      <h3 class="text-5xl">Mode</h3>
      <div class="text-4xl">
        <span>|</span>
        <a (click)="handlePlayClicked( gameTypes.CLASSIC)" class="hover:text-gray-300 mx-6">Classic</a>
        <span>|</span>
        <a (click)="handlePlayClicked( gameTypes.ROGUELIKE)" class="relative hover:text-gray-300 mx-6">Roguelike<span class="absolute text-sm rotate-[14deg] right-[-1.5rem] top-[-0.5rem]">(NEW)</span></a>
        <span>|</span>
      </div>
    </div>
  </div>
</div>
